@font-face {
    font-family: SegoeUI;
    src: url(fonts/SegoeUI.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: SegoeUI;
}

section, .header {
    padding-left: 10vw;
    padding-right: 10vw;
}

button:hover {
    transform: scale(1.1) perspective(1px);
}

h2 {
    font-size: 30px;
}

h2:hover {
    border-bottom: 2px solid #4dc1b8;
}

.header {
    display: flex;
    height: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #4dc1b8;
}

.mobile-menu {
    display: none;
}

.header-logo {
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-right__retailers {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80px;
}

.header-right__retailers__text {
    text-align: center;
}

.retailers-number {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    width: 80px;
    height: 24px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #000000;
    font-size: 18px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.header-right__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.header-right__nav__link {
    margin: 5px;
    color: #000000;
    font-size: 17px;
    text-decoration: none;
}

.header-right__nav__link:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.header-right__nav__icon {
    margin-left: 10px;
}

.header-right__nav__link:last-child {
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

.main-picture-section {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-image: url(img/fox1.png);
    background-repeat: no-repeat;
    color: #ffffff;
}

.main-picture__heading {
    font-size: calc(26px + 2.5vw);
    font-family: 'Roboto Slab', serif;
}

.main-picture__text {
    align-self: flex-start;
    max-width: 35vw;
    min-width: 330px;;
    margin-bottom: 65px;
    font-size: calc(12px + 1.5vw);
}

.learn-more-btn {
    align-self: flex-start;
    height: 75px;
    width: 300px;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    background-color: #E96A47;
    background: linear-gradient(180deg, #F2704C 0%, #B85033 100%);
    font-size: 20px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.about-us__heading {
    margin-top: 45px;
    width: 130px;
}

.about-us-bottom {
    flex-wrap: wrap;
}

.about-us-bottom > span > i {
    color: #9B9B9B;
}

.about-us-bottom > span > i:last-child {
    transform: rotate(90deg);
}

.about-us-bottom > span:first-of-type {
    width: 230px;
}

.about-us__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.about-us__content > p {
    font-size: 24px;
    margin-top: 5px;
}

.about-us__img {
    border-radius: 50%;
    margin-left: 20px;
}

.about-us__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.brands__heading {
    width: 115px;
}

.brands__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F1F1;
    height: 110px;
    margin-bottom: 40px;
}

.brands__select {
    height: 40px;
    width: 150px;
    outline: none;
    border: 2px solid #4dc1b8;
    font-family: SegoeUI;
    font-size: 16px;
}

.brands__search {
    display: flex;
}

.brands__search__input {
    height: 40px;
    border: 2px solid #4dc1b8;
    outline: none;
    font-family: SegoeUI;
    font-size: 16px;
}

.brands__search__icon {
    color:  #ffffff;
    background-color: #4dc1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.show-more-btn {
    border: 2px solid #4dc1b8;
    outline: none;
    height: 40px;
    width: 150px;
    font-family: SegoeUI;
    font-size: 16px;
}

.brands__btn-wrapper {
    display: flex;
    justify-content: center;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
}

.brand-logo {
    max-width: 180px;
    max-height: 180px;
    min-width: 160px;
    min-height: 160px;
    margin-bottom: 40px;
    flex: 1;
    margin: 10px;
}

.brands-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.why-without-fur {
    display: flex;
    flex-direction: column;
}

.why-without-fur__heading {
    width: 255px;
}

.why-without-fur__image {
    min-width: 330px;
    width: 100%;
}

.join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/fox.png);
    background-size: cover;
    height: 500px;
    font-size: 24px;
    color: #ffffff;
}

.join-us__btn {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #E96A47;
    background: linear-gradient(180deg, #F2704C 0%, #B85033 100%);
    border-radius: 5px;
    height: 75px;
    width: 300px;
    font-size: 20px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    cursor: pointer;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4E4E4;
    min-height: 350px;
}

.contact-us__form__input {
    height: 40px;
    width: 450px;
    border: 2px solid #4dc1b8;
    outline: none;
    font-family: SegoeUI;
    font-size: 16px;
    padding: 10px;
}

.contact-us__form__inputs-wrapper {
    margin-bottom: 20px;
}

.contact-us__form__textarea {
    height: 135px;
    width: 450px;
    border: 2px solid #4dc1b8;
    outline: none;
    font-family: SegoeUI;
    font-size: 16px;
    padding: 10px;
}

.send-email-btn {
    outline: none;
    height: 40px;
    width: 210px;
    margin: 25px;
    font-family: SegoeUI;
    font-size: 16px;
    background: linear-gradient(180deg, #F2F2F2 0%, #E4E4E4 100%);
    border: 1px solid #4DC0B8;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.195772), inset 0px 2px 0px #FFFFFF;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    margin: 0 -20px;
    background-color: #4A4A4A;
    color: #ffffff;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us__form__inputs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
    justify-content: center;
}

.contact-us__form__inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

.social-networks {
    display: flex;
    justify-content: space-between;
}
