@font-face {
    font-family: SegoeUI;
    src: url(fonts/SegoeUI.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: SegoeUI;
}

section, header {
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #4dc1b8;
    height: 100px;
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
}

.header-right {
    display: none;
}

.fa-bars:before {
    font-size: 40px;
}

.main-picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/fox1.png);
    background-repeat: no-repeat;
    background-position: -620px 30px;
    color: #ffffff;
    height: 600px;
}

.main-picture__heading {
    width: 100%;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    color: #fff;
    background-color: #000;
    font-size: calc(12px + 2.5vw);
}

.main-picture__text {
    align-self: center;
    padding: 0 20px;
    font-size: 18px;
}

.learn-more-btn {
    align-self: center;
    height: 35px;
    width: 200px;
    margin-top: 260px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #E96A47;
    background: linear-gradient(180deg, #F2704C 0%, #B85033 100%);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.wrapper {
    padding: 0 20px;
}

.about-us {
    display: flex;
    flex-direction: column;
}

.about-us__heading {
    margin-top: 35px;
    margin-bottom: 0px;
    width: 90px;
}

.about-us__content__text {
    text-align: justify;
}

.about-us__img {
    width: 100%;
    border-radius: 50%;
}

.about-us__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
}

.about-us__bottom > img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-us__bottom > span {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-around;
    height: 50px;
}

.about-us__bottom > span > div > i {
    color: #9B9B9B;
}

.about-us__bottom > span > div:last-of-type > i {
    transform: rotate(90deg);
}

.brands__heading {
    width: 80px;
}

.brands__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    margin-bottom: 40px;
    margin: 0 -20px;
    padding: 0 20px;
    background-color: #F2F1F1;
}

.brands__select-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brands__search {
    display: flex;
    width: 100%;
}

.brands__search__input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 2px solid #4dc1b8;
    font-size: 18px;
    font-family: SegoeUI;
    outline: none;
}

.brands__search__icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #4dc1b8;
    color:  #ffffff;
    cursor: pointer;
}

.brands__select {
    height: 40px;
    outline: none;
    border: 2px solid #4dc1b8;
    font-family: SegoeUI;
    font-size: 16px;
}

.show-more-btn {
    border: 2px solid #4dc1b8;
    outline: none;
    height: 40px;
    width: 150px;
    font-family: SegoeUI;
    font-size: 16px;
}

.brands__btn-wrapper {
    display: flex;
    justify-content: center;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
}

.brand-logo {
    max-width: 180px;
    max-height: 180px;
    min-width: 160px;
    min-height: 160px;
    margin-bottom: 40px;
    flex: 1;
    margin: 10px;;
}

.brands-row {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.why-without-fur__heading {
    width: 170px;
}

.why-without-fur__image {
    width: 100%;
}

.join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -20px;
    padding: 0 20px;
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/fox-big.png);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 24px;
    color: #ffffff;
}

.join-us__heading {
    text-align: center;
}

.join-us__btn {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #E96A47;
    background: linear-gradient(180deg, #F2704C 0%, #B85033 100%);
    border-radius: 5px;
    height: 60px;
    width: 215px;
    font-size: 20px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -20px;
    padding: 0 20px;
    background-color: #E4E4E4;
    height: 415px;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us__form__input {
    height: 40px;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #4dc1b8;
    font-size: 16px;
    font-family: SegoeUI;
    outline: none;
}

.contact-us__form__textarea {
    height: 135px;
    width: 250px;
    border: 2px solid #4dc1b8;
    outline: none;
    font-family: SegoeUI;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.send-email-btn {
    outline: none;
    height: 40px;
    width: 210px;
    font-family: SegoeUI;
    font-size: 16px;
    background: linear-gradient(180deg, #F2F2F2 0%, #E4E4E4 100%);
    border: 1px solid #4DC0B8;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.195772), inset 0px 2px 0px #FFFFFF;
    border-radius: 4px;
}

.contact-us > form > div {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us > form > div > div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    margin: 0 -20px;
    background-color: #4A4A4A;
    color: #ffffff;
}
